
main {
    width: 25%;
}
.background-cell {
    background: linear-gradient( #bbb, transparent 1px), linear-gradient( 90deg, #bbb, transparent 1px);
    background-size: 15px 15px;
    background-position: center center;
}

.input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.input::placeholder {
    color: red;
  }

.round-checkbox {
    appearance: none;
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    
}
.round-checkbox:checked {
    background-color: gray;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}


h2 {
    text-align: left;
    color: gray;
}

div {
    display: block;
}

ul {
    list-style: none;
    padding-inline-start: 0px;
    width: 100%;
}

li {
    display: flex;
    justify-content:space-between;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white;
    padding: 5px;
}
